/* Aggregation Section */
main section.aggregation {
	background-color: #080806; /*#8b897b; #7a7652;*/
	color: #d7c773; 
	padding: 2rem 3rem 3.5rem;
}

main section.aggregation .projects { 
	margin-bottom: 15px;
}

main section.aggregation h2 { 
	color: #ad6419; 
	text-align: center; 
	margin: 30px 0px 35px;
}

main section.aggregation h3 {  
	font-size: 2rem;
	margin-top: 55px; 
	text-align: center;
}

.tag-list-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	
	/*display: flex;
	flex-wrap: wrap;*/
	
	padding: 15px 0px 15px 40px;
	margin-top: 30px;
	background-color: #ffffff24;
}


.tag-list-container li {
	font-size: 1rem;
	padding: 5px;
	
	/*text-align: center;*/
}





