/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
	color: #2f2a1a; 
	font-size: 1.8rem; 
	font-weight: 400; 
	line-height: 1.4;
	font-family: Courier New, monospace;
}
		
ul { 
	list-style: none; 
}

a { 
	text-decoration: none; 
}

h1, h2 { 
	padding: 10px; 
}

h2 { 
	font-size: 1.85em; /*2.1em; */
	margin-bottom: 40px;
	text-transform: uppercase;
}


h3, h4 {
	letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
}

h3 { 
	font-size: 1.7em; 
	text-transform: capitalize;
}

h4 {
	font-size: 1.1rem;
	margin-bottom: 10px;
}

p {
	font-size: 1.1rem;
	line-height: 1.5;
	text-align: justify;
}

.number-values {
	color: green;
}


.external-links-container { 
	display: flex; 
	justify-content: space-around; 
}

header, main {  
	background-color: #918952;  /*#625e36; #b3ae81; #c7c5b1; hsl(210deg 15% 32% / 74%); rgb(152 42 42 / 30%); #78878cd4; /*#f7622b; */ 
}


.navigation-links {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 55px;
	background-color: #080806; /*black;*/
}

.navigation-links-color-main {
	color: white;
	background-color: #ffffff30;
	cursor: pointer;
	border: 1px solid #d7c773;
	padding: 8px 12px 8px;
	border-radius: 8px;
	font-size: 1rem;
	font-weight: bold;
}
.navigation-links-color-main:hover {
	color: white;
	background-color: #d7c773;
}
.navigation-links-color-sections {
	color: white;
	background-color: #ffffff30;
	cursor: pointer;
	border: 1px solid #d7c773;
	padding: 8px 12px 8px;
	border-radius: 8px;
	font-size: 1rem;
	font-weight: bold;
}
.navigation-links-color-sections:hover {
	color: white;
	background-color: #d7c773;
}
.navigation-links-color-aux {
	color: black;
	background-color: #d7c773d4;
	cursor: pointer;
	border: 1px solid #d7c773;
	padding: 8px 12px 8px;
	border-radius: 8px;
	font-size: 1rem;
}
.navigation-links-color-aux:hover {
	color: white;
}

/* WELCOME SECTION */
main .welcome-section { 
	/*clear: both;*/ 
	display: flex; 
	flex-direction:	column; 
	justify-content: center;  
	width: 100%; 
	height: 100vh; 
	text-align: center;
	background-image: linear-gradient(#d9d0c8, aliceblue, #dbcaba); /*linear-gradient(linen, aliceblue, linen);*/ 
	color: #2f2a1a; 
}
main .welcome-section h1 { 
	font-size: 2em; 
	margin-top: 10px;
}
main .welcome-section p { 
	font-size: 1.4em;
	text-align: center;
	margin-top: 10px;	
}

 
/* CONTACT SECTION */
main section.contact { 
	color: black; 
	background-color: #f7622b; 
	display: flex; 
	flex-direction: column; 
	justify-content: space-evenly; 
	align-items: center; 
	height: 100vh; 
	text-align: center; 
}

main section.contact h2 { 
	font-size: 1.9em; 
}

main section.contact p { 
	text-align: center;
	font-size: 1.7rem; 
	font-weight: bold;
}

main section.contact .contact-links { 
	display: flex; 
	flex-direction: column;  
	width: 100%; 
}

main section.contact .contact-links a { 
	color: #f3eacdc7; 
	font-size: 1.8rem; 
	font-weight: 800; 
	padding: 5px; 
}


@media only screen and (max-width: 463px) {
	main section.contact .contact-links-container {
		margin: 25px 0;
	}
}

@media only screen and (min-width: 820px) {
	main section.contact .contact-links-container {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly; 
		align-items: baseline;
	}
}






